:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.hero {
    background: rgb(238, 239, 241);
    padding-top: 56px;
    min-height: 700px;
}

.container {
    max-width: 1106px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 162px;
}

.logo {
    width: 96px;
    height: 60px;
}

.header__logo {}

.img__logo {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 80px;
}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 10%;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav__link:hover {
    color: rgb(52, 84, 122);
}

.hero__content {
    display: flex;
    gap: 30px;
}

.hero__img-wrap {
    width: 50%;
    text-align: center;
    width: 360px;
    padding-bottom: 146px;
}

.hero__img {}

.hero__desc {
    max-width: 540px;
    padding-left: 131px;
}

.title {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #000;
}

.hero__title {
    margin-bottom: 50px;
    margin-top: 0px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
    text-align: center;
}

.hero_subtitle {
    text-align: left;
    margin-bottom: 60px;
}

.btn-wrap {
    width: 225px;
    height: 65px;
    background: #34547a;
    padding: 25px 41px;
    margin-bottom: 146px;
}

.btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
    padding: 0 5px;
}

.about {
    padding-top: 119px;
    padding-bottom: 100px;
    text-align: center;
}

.about__content {
    max-width: 540px;
    margin: 0 auto;
}

.section__title {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    padding-bottom: 50px;
}

.achievements {
    background: rgb(52, 84, 122);
    padding-top: 100px;
    padding-bottom: 100px;
}

.achievements__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.achievements__item {
    display: flex;
}

.achievement {}

.achievement__desc {
    padding-left: 20px;
}

.achievement__count {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

.achievement__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

.skills {
    padding: 100px 0px;

}

.skills__content {
    display: flex;
}

.skills__desk {
    width: 50%;
    padding-top: 100px;

}

.section-title {}

.skills__title {}

.skills__list {}

.skills__item {
    margin-bottom: 26px;
}

.skill {}

.skill__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
    padding-bottom: 12px;
}

.skil__meter {}

/* стили для meter */
.skil__meter::-webkit-meter-bar {
    width: 445px;
    height: 4px;
    border-radius: 0px;
    border: none;
    background: #c4c4c4;
}

/* цвет полоски value */
.skil__meter::-webkit-meter-optimum-value {
    background-color: #34547a;
}


.skills__img-wrap {
    display: flex;
    padding-top: 90px;
    align-items: center;
    justify-content: space-between;
}

.skills__img {
    width: 555px;
    height: 450px;
    object-fit: contain;
}

.demo {
    background-color: rgb(238, 239, 241);
    padding-top: 100px;
    padding-bottom: 100px;
}

.demo__content {
    text-align: center;
}

.demo__subtitle {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 57px;
}

.demo__video-wrap {
    position: relative;
    width: 100%;
}

.demo__video-btn {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
}

.demo__video-btn:active {
    transform: translate(-50%, -50%) scale(0.9);
}

.projects__list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.project__item {
    flex: 1 0 25%;

}

.work__link {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__overlay {
    position: absolute;
    background-color: rgba(52, 84, 122, 0.8);
    width: 100%;
    height: 0;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.work__overlay-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.work__link:hover .work__overlay {
    height: 100%;
    transition: 0.8s;
}